.button {
    width: 186px;
    height: 45px;
    border: 1px solid rgb(100, 2, 2);
    box-sizing: border-box;
    background-color: Transparent;
    background-repeat:no-repeat;
    cursor:pointer;
    overflow: hidden;
    font-weight: 500;
    font-size: 18px;
    color:rgb(100, 2, 2);
    line-height: 20px;
    border-radius: 10px;
    &:hover{ 
        background-color: rgba(156, 116, 30, 0.3);
        border: 3px solid rgb(100, 2, 2);
          
    }
    &-consultation{
        border: 1px solid rgb(255, 255, 255);
        color:rgb(255, 255, 255);
        width: 300px;
        height: 50px;
        &:hover{ 
            background-color: rgba(150, 149, 149, 0.3);
            border: 3px solid rgb(255, 255, 255);
              
        }
    }
    &-catalog{
        display: block;
        border: 1px solid rgb(0, 0, 0);
        color:rgb(0, 0, 0);
        width: 80%;
        height: 50px;
        font-weight: 700;
        font-size: 20px;
        
        
        &:hover{ 
            background-color: rgba(150, 149, 149, 0.3);
            border: 2px solid rgb(0, 0, 0);      
        }
    }

    
}